<nav class="nav-extended">
  <div class="nav-wrapper grey darken-4">
    <a routerLink="/" class="brand-logo">
      <img src="../assets/logo.png" class="logo" alt="Lottostarlet" title="Lottostarlet">
    </a>
    <a href="#" materialize="sideNav" [materializeParams]="[{edge:'left', closeOnClick: true}]" data-activates="mobile-demo" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/accordion">Accordion</a></li>
      <li routerLinkActive="active"><a routerLink="/carousel">Carousel</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a routerLink="/">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/accordion">Accordion</a></li>
      <li routerLinkActive="active"><a routerLink="/carousel">Carousel</a></li>
    </ul>
  </div>
</nav>