<section>
  <article>
    <nav class="clean">
      <div class="nav-wrapper">
        <div class="col s6">
          <a routerLink="/" class="breadcrumb">
                  <i class="material-icons">home</i> Home
              </a>
          <a class="breadcrumb active">
                Carousel
              </a>
        </div>
      </div>
    </nav>

    <h5>Carousel component</h5>
  </article>
</section>

<div class="row">
  <div class="col s12 m12">
    <div materialize="carousel" [materializeParams]="[{dist: 0}]" class="carousel carousel-slider">
      <!-- <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">Next</a>
      </div> -->
      <div class="carousel-item" href="#one!">
        <img src="https://lorempixel.com/580/250/nature/5" class="responsive-img">
      </div>
      <div class="carousel-item" href="#two!">
        <div class="carousel-user">
          <h5>USER FORM</h5>
          <user></user>
        </div>
      </div>
      <div class="carousel-item" href="#three!">
        <h5>GET A MESSAGE</h5>
        <message></message>
      </div>
    </div>
  </div>
</div>
