<section>
  <article>
    <nav class="clean" >
        <div class="nav-wrapper">
          <div class="col s6">
            <a routerLink="/" class="breadcrumb">
                <i class="material-icons">home</i> Home
            </a>
            <a class="breadcrumb active">
              Accordion
            </a>
          </div>
        </div>
      </nav>
      <h4 class="mar-t-0">Accordion component</h4>
  </article>
</section>

<p-accordion>
  <p-accordionTab header="USER FORM" [selected]="true">
     <user></user>
  </p-accordionTab>
  <p-accordionTab header="GET A MESSAGE">
      Content 2
  </p-accordionTab>
</p-accordion>