/* You can add global styles to this file, and also import other style files */
nav.clean {
    background: none;
    box-shadow: none;
    height: 40px;
    line-height: 40px;
}
nav.clean .breadcrumb {
    color: #212121;
}
nav.clean .active {
    color: #adacac;
}
nav.clean .breadcrumb:before {
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
}
nav.clean .breadcrumb {
    font-size: 12px;
}
nav.clean .breadcrumb .material-icons{
    line-height: 40px;
    font-size: 15px;
    height: 40px;
    padding-right: 5px;
}

.carousel .indicators {
    position: initial;
    margin: -10px;
    background: #444;
    opacity: 0.6;
    height: 40px;
}